@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Roboto', sans-serif;
}

p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.bounce {
	animation: bounce 1s ease infinite;
}
@keyframes bounce {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1.1);
	}
	30% {
		transform: scale(1);
	}
}

.shake {
	animation: shake 1s ease infinite;
}
@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.backdrop {
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	cursor: default;
}
