/* The switch - the box around the slider */
#toggle-button {
	width: 46px;
	max-width: 46px;
	min-width: 46px;
	cursor: pointer;
	display: flex;
	align-items: center;
	#toggle {
		opacity: 0;
		width: 0;
		height: 0;
		&:checked + .container {
			&::before {
				opacity: 1;
			}
			.button {
				transform: translateX(-20px);
				background: linear-gradient(#d6e9ff, #cde4ff);
				&::before {
					background: linear-gradient(#cee5ff, #edf6ff, #f1f9ff);
				}
			}
		}
	}
	.container {
		background-image: linear-gradient(#66ffed, #ffeeb2);
		border-radius: 20px;
		height: 25px;
		position: relative;
		box-shadow: inset 0px 6px 6px 0px rgb(0 0 0 / 32%);
		&::before {
			content: '';
			position: absolute;
			border-radius: 20px;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-image: linear-gradient(#2b4485, #afcaff);
			box-shadow: inset 0px 6px 6px 0px rgb(0 0 0 / 32%);

			transition-property: all;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 0.25s;
		}
		.button {
			transition-property: all;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 0.25s;
			position: absolute;
			background-color: #ff9255;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			right: 3px;
			top: 3px;
			&::before {
				content: '';
				width: 16px;
				height: 16px;
				background: linear-gradient(#ffbf24, #f4924b);
				position: absolute;
				border-radius: 100%;
				left: 2px;
				top: 2px;
			}
		}
	}
}
